/* Customize the label (the container) */
.checkbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .checkbox input:checked ~ .checkmark::after {
    display: block; }
  .checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #b3b3b3; }
    .checkbox .checkmark::after {
      content: "";
      position: absolute;
      display: none;
      left: 8px;
      top: 3px;
      width: 6px;
      height: 12px;
      border: solid #111;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.sidemenu {
  height: 100%;
  width: 400px;
  margin-right: -400px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  padding-top: 30px; }
  .sidemenu::after {
    content: ' ';
    text-align: right;
    position: fixed;
    right: 0;
    top: 0;
    height: 54px;
    background-color: #111;
    width: 400px;
    transition: 0.5s;
    animation-delay: 2s;
    margin-right: -400px; }
  .sidemenu.open {
    margin-right: 0; }
    .sidemenu.open::after {
      margin-right: 0; }
  .sidemenu .menu-placeholder {
    margin-bottom: 50px; }
  .sidemenu input, .sidemenu .checkbox, .sidemenu select, .sidemenu input[type="text"] {
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; }
    .sidemenu input:hover, .sidemenu .checkbox:hover, .sidemenu select:hover, .sidemenu input[type="text"]:hover {
      opacity: 1; }
  .sidemenu .menu-label {
    font-size: 1.2em; }
  .sidemenu .div-label {
    margin: 3px;
    float: left;
    display: inline-block;
    width: 27%; }
  .sidemenu .div-trigger {
    margin: 3px;
    display: inline-block;
    width: 67%; }
  .sidemenu .div-full {
    float: left;
    width: 100%; }
  .sidemenu h1 {
    text-align: left; }
  .sidemenu .menu-group {
    margin: 0 auto;
    text-align: center;
    padding: 6px 0; }
  .sidemenu select, .sidemenu input[type="text"] {
    width: 100%;
    border: none;
    padding: 6px;
    background-color: #b3b3b3;
    height: 28px; }
  .sidemenu input[type="text"] {
    width: 95%;
    height: 15px; }
  .sidemenu input[type="color"] {
    width: 102%;
    border: none;
    margin: -8px 0;
    padding: 0;
    background-color: #111;
    height: 35px; }
  .sidemenu input[type="button"] {
    background: #808080;
    border: none;
    color: #252525;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 15px;
    opacity: 0.7;
    outline: 0; }
    .sidemenu input[type="button"]:hover {
      opacity: 1;
      cursor: pointer; }
  .sidemenu .slidecontainer {
    width: 100%; }
  .sidemenu input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #b3b3b3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s; }
    .sidemenu input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 25px;
      height: 25px;
      background: #919191;
      cursor: pointer; }
  .sidemenu .disclaimer {
    text-align: center;
    padding: 6px;
    margin-bottom: 6px; }
  .sidemenu a {
    font-weight: bolder;
    opacity: 0.7; }
    .sidemenu a:hover {
      opacity: 1; }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide-right {
  from {
    left: 0px; }
  to {
    left: 200px; } }
@keyframes slide-right {
  from {
    left: 0px; }
  to {
    left: 200px; } }
#bookmarksMenu {
  background: none;
  position: absolute;
  margin-left: 10px; }
  #bookmarksMenu .bookmark a img {
    width: 50px;
    height: auto;
    filter: brightness(0) invert(1); }

.notification {
  position: fixed;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  color: #eceeef;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-animation: slide-in 0.5s forwards;
  animation: slide-in 0.5s ease-in-out;
  z-index: 1001; }
  .notification.slide-out {
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-animation: slide-out 0.5s forwards;
    animation: slide-out 0.5s ease-in-out; }
  .notification p {
    margin: 0; }

.notification-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000; }

@-webkit-keyframes slide-in {
  100% {
    top: 70px;
    opacity: 1; }
  0% {
    top: 130px;
    opacity: 1; } }
@keyframes slide-in {
  100% {
    top: 70px;
    opacity: 1; }
  0% {
    top: 130px;
    opacity: 0; } }
@-webkit-keyframes slide-out {
  100% {
    top: 10px;
    opacity: 0; }
  0% {
    top: 70px;
    opacity: 1; } }
@keyframes slide-out {
  100% {
    top: 10px;
    opacity: 0; }
  0% {
    top: 70px;
    opacity: 1; } }
body::-webkit-scrollbar, html::-webkit-scrollbar, .sidemenu::-webkit-scrollbar {
  width: 5px; }
body::-webkit-scrollbar-track, html::-webkit-scrollbar-track, .sidemenu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb, .sidemenu::-webkit-scrollbar-thumb {
  background-color: darkgrey; }

#rokuyoDiv {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }
  #rokuyoDiv .info {
    display: none;
    max-width: 200px;
    position: absolute;
    margin-left: 30px;
    margin-top: 5px;
    padding: 10px 20px;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 13px; }
  #rokuyoDiv:hover .info {
    display: block; }

html, body {
  background: #000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #242424, #000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #242424, #000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #eceeef;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  margin: 0; }

a {
  color: #eceeef;
  font-family: 'Quicksand', sans-serif; }

.overlay {
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear; }

.container-clock {
  z-index: 3;
  padding: 70vw; }

.container-bar {
  text-align: right;
  padding: 5px;
  position: absolute;
  right: 0;
  z-index: 999;
  user-select: none; }
  .container-bar.container-bar-bottom {
    bottom: 0; }
  .container-bar.container-bar-top {
    top: 0; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.hidden {
  width: 0;
  height: 0;
  margin: 0;
  border: 0;
  position: absolute;
  top: -900px; }

.container {
  padding: 10px 20px; }

#hexclockDiv {
  font-size: 1.9em;
  opacity: 0.2;
  bottom: 10px;
  position: relative; }

#clock {
  font-size: 11em;
  margin: 0; }

#date {
  font-size: 3em;
  margin: 0; }

#background {
  transition: margin-left .5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -99;
  background-position: center;
  background-size: cover; }
  #background.menu-open {
    margin-left: -400px; }

.button {
  color: #eceeef;
  transition: ease-in-out 0.3s;
  opacity: 0.7; }
  .button.small {
    font-size: 2.7em;
    padding: 5px;
    cursor: pointer; }
    .button.small:hover, .button.small:focus {
      opacity: 1; }
  .button.disabled {
    opacity: 0.5;
    pointer-events: none; }

.slide-container {
  width: 100%; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer; }

input,
select,
.sidemenu input[type="text"],
textarea,
button {
  outline: none; }
  input:focus,
  select:focus,
  .sidemenu input[type="text"]:focus,
  textarea:focus,
  button:focus {
    outline: none; }

.align-left {
  text-align: left; }

/*# sourceMappingURL=main.css.map */
