//variables
$font-color-primary: #eceeef;
$background-color-primary: #000;
$notification-position-y: 70px;
$notification-position-y-offset: 60px;

.notification{
  position:fixed;
  top: $notification-position-y;
  background-color: transparentize($background-color-primary, 0.5);
  padding: 10px 20px;
  color: $font-color-primary;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-animation: slide-in 0.5s forwards;
  animation: slide-in 0.5s ease-in-out;
  z-index: 1001;
  &.slide-out{
    opacity:0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-animation: slide-out 0.5s forwards;
    animation: slide-out 0.5s ease-in-out;
  }
  p{
    margin:0;
  }
}

.notification-overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

@-webkit-keyframes slide-in {
  100% {
    top: $notification-position-y;
    opacity: 1;
  }
  0% {
    top: $notification-position-y + $notification-position-y-offset;
    opacity: 1;
  }
}

@keyframes slide-in {
  100% {
    top: $notification-position-y;
    opacity: 1;
  }
  0% {
    top: $notification-position-y + $notification-position-y-offset;
    opacity: 0;
  }
}

@-webkit-keyframes slide-out {
  100% {
    top: $notification-position-y - $notification-position-y-offset;
    opacity: 0;
  }
  0% {
    top: $notification-position-y;
    opacity: 1;
  }
}

@keyframes slide-out {
  100% {
    top: $notification-position-y - $notification-position-y-offset;
    opacity: 0;
  }
  0% {
    top: $notification-position-y;
    opacity: 1;
  }
}
